
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Permite que qualquer usuário autenticado leia arquivos (para visualizar fotos).
    allow read: if request.auth != null;

    // Permite que um usuário autenticado escreva qualquer arquivo dentro de sua própria pasta de avatar.
    match /avatars/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Permite que qualquer usuário autenticado adicione arquivos a um chamado.
    match /tickets/{ticketId}/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}

    