@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 96%;
    --foreground: 224 71% 4%;
    --card: 240 10% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 240 10% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 232 38% 30%;
    --primary-foreground: 0 0% 99%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 24 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 85%;
    --input: 240 6% 90%;
    --ring: 232 38% 30%;
    --chart-1: 232 38% 30%;
    --chart-2: 24 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 240 5% 96%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-border: 240 6% 90%;
    --sidebar-accent: 240 5% 90%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-ring: 232 38% 30%;
  }
  .dark {
    --background: 216 48% 8%;
    --foreground: 0 0% 99%;
    --card: 216 48% 12%;
    --card-foreground: 0 0% 99%;
    --popover: 216 48% 8%;
    --popover-foreground: 0 0% 99%;
    --primary: 232 38% 40%;
    --primary-foreground: 0 0% 99%;
    --secondary: 216 48% 12%;
    --secondary-foreground: 0 0% 99%;
    --muted: 216 48% 12%;
    --muted-foreground: 240 4% 65%;
    --accent: 24 100% 50%;
    --accent-foreground: 216 48% 8%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 38% 20%;
    --input: 232 38% 20%;
    --ring: 24 100% 50%;

    --sidebar-background: 216 48% 8%;
    --sidebar-foreground: 0 0% 99%;
    --sidebar-border: 232 38% 20%;
    --sidebar-accent: 216 48% 14%;
    --sidebar-accent-foreground: 0 0% 99%;
    --sidebar-ring: 24 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
